@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}

.daohang {
	width: 100%;
	margin: 0 auto;
	display: flex;
	height: 200px;
}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

.nav {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}

.nav ul li {
	float: left;
	/* 左浮动 */
	padding: 3px;
	margin-top: 1px;
	position: relative;
	/* 设置为相对定位 */
}

.nav ul li a {
	width: 130px;
	height: 52px;
	text-align: center;
	/* ：将链接元素的文本内容居中对齐。 */
	line-height: 40px;
	display: block;
	/* 显示方式设置为块级元素 */
	color: #544BB7;
	font-size: 18px;
	margin: 0 1.5px;
	/* 左右1.5 */
	padding: 5px;
}

.nav ul li ul {
	width: 100px;
	position: absolute;
	/* 将子菜单的定位方式设置为绝对定位，使其相对于父级元素进行定位。 */
	display: none;
	left: 50%;
	/* 将子菜单左侧边缘与父级元素左侧边缘对齐。 */
	transform: translateX(-50%);
	/* 通过translateX变换将子菜单水平居中对齐。 */
}

.nav ul li ul li {
	float: none;
	/* 取消子菜单项的浮动效果 */
	height: 23px;
	display: flex;
	/* 将子菜单项的布局设置为弹性布局。 */
	justify-content: center;
	/* 水平居中对齐子菜单项的内容。 */
	align-items: center;
	/* 垂直居中对齐子菜单项的内容。 */
}

.nav ul li ul li a {
	border-right: none;
	/* 移除子菜单项右侧的边框 */
	font-size: 16px;
	height: 38px;
}

.nav ul li:hover {
	background: rgba(255, 250, 250, 0.1);
}

.nav ul li:hover ul {
	background: rgba(255, 250, 250, 0.1);
	display: block;
	/* 指定了元素的显示方式为块级元素 */
}

.kuochong{
	height: 100px;
}